{% extends 'base.html.twig' %}

{% block page_title %}Ma généalogie{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ basepath }}/css/genealogy.css">

{% endblock %}

{% block scripts %}

    <script src="{{ basepath }}/js/d3.v4.min.js"></script>
    <script src="{{ basepath }}/js/seedrandom.min.js"></script>
    <script src="{{ basepath }}/js/genealogy.js"></script>

{% endblock %}

{% block content %}

    <h2>Ma généalogie</h2>

    <em>Cette page est une ébauche d'un travail en cours.</em>

    <h3>Par localités</h3>
    <p>
        L'origine des mes ancêtres est variée mais elle reste exclusivement francophone ou franco-germanophone.
        94% sont de nationalité Française et 6% sont Luxembourgeois.
    </p>
    <p>
        L'abre est représenté sous la forme d'un disque découpé en secteurs, chaque anneau représente une génération, et chaque couleur correspond à un département Français ou bien un pays étranger.
        Survolez le diagramme avec la souris pour faire apparaître les informations ; cliquez pour activer/désactiver la grille.
    </p>

    <div id="wheel"></div>

    <h3>Par patronymes</h3>

    <p>
        La taille des disques est proportionnelle au nombre d'ancêtres qui portaient ce nom dans ma généalogie.
        La couleur quant à elle représente le rang du nom en France (nombre de porteurs) déterminé grâce au nombre de naissances, selon <a href="https://www.filae.com/nom-de-famille/">Filae</a>.
    </p>

    <div id="bubbles"></div>

    <h3>En anecdotes</h3>

    <ul>
        <li>Une rue en France porte le nom de mon patronyme - c'est d'ailleurs la seule - et se trouve dans la commune de Grenade-sur-l'Adour (40), elle-même jumelée avec Hésingue (68), village dans lequel j'ai passé la majeure partie de mon enfance. Jolie coïncidence.</li>
        <li>Un de mes arrières-arrières-grands-pères paternel et un arrière-grand-père maternel ont tous les deux combattu dans le 46ème Régiment d'Infanterie durant la Première Guerre Mondiale (mais dans des divisions différentes).</li>
        <li>L'orthographe de mon patronyme est incertaine ; certains actes anciens font mention d'un accent aigu sur le "e" et d'autre remplacent le "y" par un "i".</li>
        <li>Mon cousin "célèbre" le plus proche dans ma généalogie est Marcel Lehoux, un pilote automobile français. La "distance génétique" est de 0.1% (2<sup>-10</sup>).</li>
        <li>Un de mes arrières-arrières-arrières-grands-pères paternel a travaillé aux usines Pompey (Meurthe-et-Moselle) et aurait peut-être contribué à la fabrication des matériaux utilisés lors de la construction de la Tour Eiffel.</li>
    </ul>

    <p class="text-center" style="margin-top: 50px">
        <em>Les données sont actualisées régulièrement au fil de mes recherches.</em>
        <br />
        <em>Si vous pensez partager un ancêtre commun, <a href="{{ url('contact') }}">contactez moi</a> et je vous enverrai un extrait de mon arbre.</em>
    </p>

{% endblock%}