<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        <title>Capture d'écran</title>
        <meta name="description" content="Prise le {{ date }}" />

        <meta property="og:site_name" content="Florian Cassayre" />
        <meta property="og:title" content="Capture d'écran" />
        <meta property="og:description" content="Prise le {{ date }}" />
        <meta property="og:image" content="{{ url('screenshot.raw', {'id': id}) }}">
        <meta property="og:type" content="image/png" />
        <meta property="og:updated_time" content="{{ timestamp }}" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@flomine68" />
        <meta name="twitter:title" content="Capture d'écran" />
        <meta name="twitter:description" content="Prise le {{ date }}" />
        <meta name="twitter:image" content="{{ url('screenshot.raw', {'id': id}) }}" />
    </head>
    <body>
    </body>
</html>