{% extends 'base.html.twig' %}

{% block page_title %}Accueil{% endblock %}

{% block content %}

<div class="text-center">
    <h1 class="display-1">Florian Cassayre</h1>
    <p class="lead">Étudiant en informatique et réseaux, développeur passionné</p>
    <ul class="list-inline intro-social-buttons">
        <li>
            <a href="https://twitter.com/flomine68" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i>
                <span class="network-name" title="flomine68">Twitter</span></a>
        </li>
        <li>
            <a href="https://github.com/FlorianCassayre" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i>
                <span class="network-name" title="FlorianCassayre">Github</span></a>
        </li>
        <li>
            <a href="https://youtube.com/6infinity8" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i>
                <span class="network-name" title="6infinity8">Youtube</span></a>
        </li>
    </ul>
</div>

<hr>

<div class="row">
    <div class="col-xs-12 col-md-9">
        <div>
            <h3>Présentation</h3>
            <p class="text-justify">
                Actuellement en première année de bachelor informatique à <a href="http://epfl.ch">l'École Polytechnique Fédérale de Lausanne</a>, je suis passionné de mathématiques et d'informatique.
                Ce site propose des outils en ligne, libres d'utilisation. Je vous souhaite une bonne visite tout en espérant que vous y trouverez votre bonheur.
            </p>
            <h3>Histoire</h3>
            <p class="text-justify">
                Sur internet, je suis connu sous le pseudo d'infinity (anciennement flomine).
                J'ai commencé à programmer aux alentours de mes 12 ans ; à cette époque je développais des applications Windows sous VB .NET, la syntaxe était assez simple car très proche du langage naturel anglophone.
                Peu de temps après, je fis mes premiers pas vers les langages & markups du web, en commençant naturellement par HTML/CSS, JavaScript et enfin PHP.
                Ce n'est que vers 2013 que je découvris Java 7 : un nouvel horizon venait de s'ouvrir à moi. Malgré des débuts laborieux, j'ai tout de suite accroché à ce langage strict et structuré.
                En octobre 2013 je rejoins la communauté Minecraftienne du serveur <a href="https://zcraft.fr">Zcraft</a>. J'ai rencontré du beau monde avec qui j'ai partagé de nombreux moments mémorables.
                En janvier 2015 - un peu par hasard (le hasard fait parfois bien les choses !) - j'intègre le projet <a href="https://samagames.net">SamaGames</a>, serveur de jeu Minecraft francophone non lucratif. J'y ai rencontré près d'une centaine de personnes au total, tout en croisant des vidéastes notables.
                Mon domaine de compétences s'élargit petit à petit, je réalise un certain nombre de <a href="{{ url('projects') }}">projets personnels</a>.
                Enfin, j'intègre l'<a href="https://epfl.ch/">EPFL</a> en septembre 2016 et je peux ainsi consacrer plus de temps à ma passion.
                Entre temps ce site a été refait trois fois, n'en étant jamais satisfait (cela dit il semble qu'il y ait du progrès au fil des versions, celle-ci tout particulièrement).
            </p>
            <h3>Liens utiles</h3>
            <p class="text-justify">
                Je développe mon activité de manière amateure à travers divers projets qu'il est possible de retrouver sur <a href="{{ url('projects') }}">cette page</a>.
                Pour éviter un éventuel accident les 23 avril et 7 mai, <a href="https://www.fillon2017.fr">rends l'argent</a>.
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>Ce que je maitrise</h3>
            <ul>
                <li>
                    La programmation en divers langages (Java, PHP, JS, Python, ...), je maitrise par ailleurs plusieurs paradigmes tels que la programmation orientée objet.
                </li>
                <li>
                    L'anglais à un niveau C1/C2, et l'allemand au niveau C1. J'ai fait plusieurs échanges/séjours à l'étranger.
                </li>
                <li>
                    Les sciences à un niveau post-bac. J'ai déjà donné des cours particuliers.
                </li>
                <li>
                    Le bricolage électronique ; soudures, branchements, percages, montages.
                </li>
                <li>
                    Le versionnage logiciel sous git, les gestions de dépendances dynamiques.
                </li>
                <li>
                    Le dessin, la peinture, l'infographie et la retouche d'image.
                </li>
                <li>
                    Les percussions, en particulier la batterie que ce soit solo, en groupe ou en orchestre.
                </li>
                <li>
                    Le montage vidéo à des fins de divertissement.
                </li>
                <li>
                    Le speedrun de jeu-vidéo (l'art de terminer un jeu le plus rapidement possible).
                </li>
                <li>
                    La résolution des Rubik's Cubes 2x2x2, 3x3x3 et 4x4x4 en des temps plus que raisonnables ; la mémorisation rapide (jeu de cartes) et la récitation rapide (décimales de pi).
                </li>

            </ul>
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>Ce que je ne fais pas</h3>
            <ul>
                <li>
                    Des programmes en brainfuck.
                </li>
                <li>
                    Du code sale non commenté (hum) et peu efficace.
                </li>
                <li>
                    De la grande cuisine.
                </li>
                <li>
                    Des blagues nulles.
                </li>
                <li>
                    Me bourrer la gueule le vendredi soir.
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-12 col-md-3">
        <h2>Services</h2>
        <div class="list-group">
            <a href="{{ url('tools.minecraft.uuid') }}" class="list-group-item">
                <h4 class="list-group-item-heading">UUID Minecraft</h4>
                <p class="list-group-item-text">Conversion d'UUID en pseudo et vice versa.</p>
            </a>
            <a href="{{ url('tools.minecraft.ping') }}" class="list-group-item">
                <h4 class="list-group-item-heading">Ping Minecraft</h4>
                <p class="list-group-item-text">Récupérer les informations d'un serveur.</p>
            </a>
            <a href="{{ url('tools.minecraft.enchanting') }}" class="list-group-item">
                <h4 class="list-group-item-heading">Calculateur d'enchantements Minecraft</h4>
                <p class="list-group-item-text">Un guide complet de l'enchantement.</p>
            </a>
        </div>
        <hr>
        <h2>APIs</h2>
        <div class="list-group">
            <a href="{{ url('api') }}#zeps" class="list-group-item">
                <h4 class="list-group-item-heading">ZéPS</h4>
                <p class="list-group-item-text">Outil d'itinéraire sur Zcraft.</p>
            </a>
            <a href="{{ url('api') }}#visited" class="list-group-item">
                <h4 class="list-group-item-heading">Serveurs Minecraft visités</h4>
                <p class="list-group-item-text">Savoir si un joueur a visité un serveur.</p>
            </a>
            <a href="{{ url('api') }}#skins" class="list-group-item">
                <h4 class="list-group-item-heading">Cache de skins Minecraft</h4>
                <p class="list-group-item-text">Obtenir le skin d'un joueur sans limitations.</p>
            </a>
            <a href="{{ url('api') }}#teachers" class="list-group-item">
                <h4 class="list-group-item-heading">Professeurs absents</h4>
                <p class="list-group-item-text">Obtenir la liste des professeurs actuellement absents.</p>
            </a>
        </div>
        <hr>
        <h2>Dons</h2>
        Vous appréciez mon travail ? Vous pouvez m'encourager en me faisant un <a href="{{ url('donation') }}">don</a> !
    </div>
</div>

{% endblock%}