{% extends 'base.html.twig' %}

{% block page_title %}Réalisations{% endblock %}

{% block stylesheets %}
    <style>

        .media-object {
            border-radius: 5px;
            margin: 10px auto;
        }

        .bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .top-right {
            position: absolute;
            top: 0;
            right: 0;

        }

        tr th {
            text-align: right;
            padding-right: 10px;
        }

        tr td {
            color: #858585;
        }

        i.fa {
            padding-left: 10px;
        }

        a.icon-link {
            color: #333 !important;
            text-decoration: none;
        }

        a i:hover {
            color: #414141;
        }

        .icons-placeholder {
            height: 48px;
        }

        .media-body {
            position: relative;
        }

        @media (min-width: 768px) {
            .media-md-left {
                display: table-cell;
                padding-right: 10px;
            }
        }

    </style>
{% endblock %}

{% block content %}

    <h2>Réalisations</h2>

    <p>
        Une liste non exhaustive des projets majeurs que j'ai mené. Mon <a href="https://github.com/FlorianCassayre">profil GitHub</a> contient bien d'autres dépôts qui ne sont pas cités ici.
    </p>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            {% for project in data.projects %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-md-left media-middle">
                                <img class="media-object" src="{{ basepath }}/img/projects/{{ project.thumbnail }}" width="150" height="150" draggable="false" />
                            </div>
                            <div class="media-body">
                                <div class="col-xs-12 col-lg-7">
                                    <h3 class="media-heading">{{ project.title }}</h3>
                                    {{ project.description }}
                                </div>

                                <div class="col-xs-12 col-lg-5">

                                    <table>
                                        <tr>
                                            <th>Langage</th>
                                            <td>{{ project.gist.language }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date</th>
                                            <td>{{ project.gist.date }}</td>
                                        </tr>
                                        <tr>
                                            <th>État</th>
                                            <td>{{ project.gist.state }}</td>
                                        </tr>
                                        {% if project.gist.license is defined %}
                                            <tr>
                                                <th>Licence</th>
                                                <td>{{ project.gist.license }}</td>
                                            </tr>
                                        {% endif %}
                                    </table>

                                    <div class="col-xs-12 icons-placeholder"></div>
                                </div>

                                <div class="bottom-right">
                                    {% for link in project.links %}
                                        <a href="{{ link.url }}" title="{{ link.title }}" target="_blank" class="icon-link">
                                            <i class="fa fa-{{ link.icon }} fa-3x"></i>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}