<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block page_title %}{% endblock %} &sdot; Florian Cassayre</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ basepath }}/css/bootstrap.min.css">

        <link rel="stylesheet" href="{{ basepath }}/css/font-awesome.min.css">

        <style>
            body {
                background-image: url('{{ basepath }}/img/background-triangles.png');
                background-repeat: no-repeat;
                background-size: 100%;

                padding-top: 20px;
                padding-bottom: 20px;
            }

            .content {
                font-size: 16px;
                border-radius: 10px;
                background-color: #fdfdfd;
                padding: 25px 30px;
                margin-bottom: 20px;
                border: 1px solid lightgray;
            }

            .content {
                opacity: 0.9;
                box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
            }
        </style>

        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <div id="content" class="container col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            Menu <span class="caret"></span>
                        </button>
                        <a class="navbar-brand" href="{{ basepath }}">Florian Cassayre</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ basepath }}">Accueil</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Minecraft</li>
                                    <li><a href="{{ basepath }}/tools/minecraft/uuid">Résolveur d'UUID</a></li>
                                    <li><a href="#">Ping de Serveur</a></li>
                                    <li><a href="#">Récupération de Skins</a></li>
                                    <li><a href="{{ basepath }}/tools/minecraft/enchanting">Calculateur d'enchantements</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Minecraft</li>
                                    <li><a href="#">ZéPS</a></li>
                                    <li><a href="#">Serveurs visités</a></li>
                                    <li><a href="#">Cache de skins</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Autre</li>
                                    <li><a href="#">Professeurs absents</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Réalisations</a></li>
                            <li><a href="#">Articles</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ basepath }}">À propos</a></li>
                            <li><a href="{{ basepath }}/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">

                {% block content %}{% endblock %}

            </div>

            <hr>

            <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-5">
                    &copy; Florian Cassayre 2017
                </div>
                <div class="col-xs-2 text-center text-bold">
                    ∞
                </div>
                <div class="col-xs-5 text-right">

                </div>
            </div>
        </div>

        <script src="{{ basepath }}/js/jquery.min.js"></script>

        <script src="{{ basepath }}/js/bootstrap.min.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>