<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="language" content="fr-FR">
        <meta http-equiv="content-language" content="fr">

        <title>{% block page_title %}{% endblock %} &sdot; Florian Cassayre</title>

        <link rel="shortcut icon" href="{{ basepath }}/favicon.ico">

        <meta name="author" content="Florian Cassayre">

        <meta name="robots" content="index, follow">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@flomine68">
        <meta name="twitter:title" content="{{ block('page_title') }} &sdot; Florian Cassayre">
        <meta name="twitter:description" content="Étudiant en informatique et réseaux, développeur passionné.">
        <meta name="twitter:image" content="{{ basepath }}/img/preview.png">
        <meta name="twitter:creator" content="@flomine68">

        <meta property="og:title" content="{{ block('page_title') }} &sdot; Florian Cassayre">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ basepath }}">
        <meta property="og:image" content="{{ basepath }}/img/preview.png">
        <meta property="og:description" content="Étudiant en informatique et réseaux, développeur passionné.">
        <meta property="og:site_name" content="Florian Cassayre">

        <link rel="stylesheet" href="{{ basepath }}/css/bootstrap.min.css">

        <link rel="stylesheet" href="{{ basepath }}/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ basepath }}/css/main-theme.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="content" class="container col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            Menu <span class="caret"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url('homepage') }}">Florian Cassayre</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Minecraft</li>
                                    <li><a href="{{ url('tools.minecraft.uuid') }}">Résolveur d'UUID</a></li>
                                    <li><a href="{{ url('tools.minecraft.enchanting') }}">Calculateur d'enchantements</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Minecraft</li>
                                    <li><a href="{{ url('api') }}#zeps">ZéPS</a></li>
                                    <li><a href="{{ url('api') }}#visited">Serveurs visités</a></li>
                                    <li><a href="{{ url('api') }}#skins">Cache de skins</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Autre</li>
                                    <li><a href="{{ url('api') }}#teachers">Professeurs absents</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Informatique</li>
                                    <li><a href="{{ url('articles', {'id': 'crypto'}) }}">Pourquoi dit-on « chiffrer » ?</a></li>
                                    <li><a href="{{ url('articles', {'id': 'js'}) }}">Pourquoi JavaScript & Java sont-ils si différents ?</a></li>
                                    <li><a href="{{ url('articles', {'id': 'float'}) }}">Pourquoi 0.1 + 0.2 != 0.3 ?</a></li>
                                    <li><a href="{{ url('articles', {'id': 'random'}) }}">Comment un ordinateur peut-il générer de l'aléatoire ?</a></li>
                                    <li><a href="{{ url('articles', {'id': 'scala-java'}) }}">Comparaison syntaxique : Java & Scala</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url('projects') }}">Réalisations</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ url('homepage') }}">À propos</a></li>
                            <li><a href="{{ url('contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">

                {% block content %}{% endblock %}

            </div>

            <hr>

            <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-5">
                    &copy; Florian Cassayre {{ "now"|date("Y") }}
                </div>
                <div class="col-xs-2 text-center text-bold">
                    ∞
                </div>
                <div class="col-xs-5 text-right">
                    Version {{ version.commit[:7] }}
                </div>
            </div>
        </div>

        <script src="{{ basepath }}/js/jquery.min.js"></script>

        <script src="{{ basepath }}/js/bootstrap.min.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>

<!--
Version: {{ version.commit }}
Last updated: {{ version.date }}
-->